여기가 아마 main 파일
main에서 썸네일 누르면 detail 페이지로 이동
<hr>


<form action="/board/submitForm" method="post">
    <input type="hidden" name="data" value='["32", "234", "전자기기", "노트북", "기타", "C:\\fakepath\\x.png", "234", "234", "234", "234", "324", "324"]'>
    <button type="submit">Submit</button>
</form>
<!-- test.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<body>
    <h1>Detail Page</h1>
    <ul>
        <% member.forEach(item => { %>
            <li>
                <a href="/board/detail?num=<%= item.num %>" method="get">
                    <%= item.title %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>