<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link href="/static/css/payment/buyer_seller_page.css" rel="stylesheet">
</head>

<body>
  <div class="buyer_view">
    <div class="top_div">
      <div id="profile_img_wrapper">
        <img id="profile_img" src=''>
      </div>
      <div id="profile_wrapper">
        <p id="title" class="profile_child">제목 : </p>
        <p id="name" class="profile_child">구매자 이름 : </p>
        <p id="tel" class="profile_child">구매자 번호 : </p>
      </div>
      <div id="button_wrapper">
        <input type="button" value="판매완료">
        <input type="button" value="판매취소">
      </div>
    </div>
    <div id="chat_wrapper">

    </div>
    <div id="bottom_wrapper">
      <h3>거래 주의사항</h3>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</li>
        <li>Nisl tincidunt eget nullam non</li>
        <li>Quis hendrerit dolor magna eget est lorem ipsum dolor sit</li>
        <li>Volutpat odio facilisis mauris sit amet massa</li>
      </ol>
    </div>
  </div>
</body>


<script src="/resources/js/payment/sellerPage.js" type="application/javascript"></script>

</html>