<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/admin/default/default.css" rel="stylesheet">
    <link href="/static/css/admin/admin_main.css" rel="stylesheet">
    <%- include("../default/header.ejs") %>
</head>
<body>
    <%- include("../admin/default/admin_menu.ejs") %>
    <div class="body">
        <h2>메인페이지</h2>

    </div>
    <%- include("../default/footer.ejs") %>
</body>
</html>
