<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .selector-for-some-widget {
        box-sizing: content-box;
      }
      .bInodS {
        min-width: 1236px;
      }
      .bzn0jk {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background: rgb(255, 255, 255);
      }
      .jSmAZQ {
        width: 1024px;
        margin-top: 30px;
      }
      .kqmAer {
        margin-bottom: 30px;
      }
      .jiarQh {
        display: flex;
        width: 100%;
      }
      .ermrpj {
        flex-shrink: 0;
      }
      .ipXCvk {
        width: 310px;
        height: 310px;
        position: relative;
        color: rgb(255, 255, 255);
      }
      .leXbQf {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: transparent;
      }
      .eRUQZt {
            /* 이미지를 가운데 정렬하기 위해 수정 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
      .fKhHmr {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1000;
        display: none;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
      }
      .kDkgVT {
        flex: 1 0 0%;
        padding: 0px 30px;
        display: flex;
        height: 310px;
        flex-direction: column;
      }
      .hkaFNj {
        font-size: 18px;
        height: 75px;
        font-weight: 600;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-shrink: 0;
      }
      .ixFzSN {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-left: 50px;
        font-weight: 600;
      }
      .hQqotf {
        height: 56px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 50px;
        font-weight: 600;
      }
      .hQqotf1 {
        height: 56px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 50px;
        margin-top: 30px;
        font-weight: 550;
      }
      .blcYdX {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    color: rgb(61, 61, 61);
    border: 1px solid rgb(241, 241, 157);
    background-color:  rgb(241, 241, 157);
    margin-top: 25px;
    margin-left: -18px;
    font-weight: 600;
      }
      .blcYdX1 {
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(241, 241, 157);
    background-color:  rgb(241, 241, 157);
    padding: 0;
    color: rgb(61, 61, 61);
    margin-top: -20px;
    margin-left: -10px;
    font-weight: 600;
    font-size: small;
      }
      .dQLwrX {
    display: flex;
    
}
.fKhHmr {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.dvLjiM {
    display: flex;
    height: 50px; 
}
.nav-link {
  width: 100%; /* 네비게이션 링크의 너비를 100%로 설정합니다. */
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
}
.nav-item {
  flex: 1; /* 부모 요소인 nav-item의 너비를 자동으로 설정합니다. */
}
.kHfkPy:first-child {
    border-left: 1px solid rgb(33, 33, 33);
}
.gyLEXJ {
    margin-left: 10px;
}
.gmerZt {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    border-top: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(184, 184, 184);
    background: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

    </style>
  </head>
  <body>
    <hr>
 
      <div id="root">
        <div class="app">
          <div class="sc-hGoxap blnodS">
            <div class="sc-cPuPxo bzn0jk">
              <div class="sc-hvvHee jSmAZQ">
                <div class="sc-bYnzg0 kqmAer">
                  <div class="sc-jXQZql jiarQh">

                    <!--이미지부분?-->

                    <div class="sc-iGPElx ermrpj">
                      <div size="310" class="sc-chbbiW ipXCvk">
                        <div class="sc-gmeYpB leXbQf"></div>
                        <!--leXbQf가 색띄우는 부분-->
                        <div class="sc-kxynE eRUQZt"></div>
                      
        
                          <img src="/static/대두.jpg" width="300" height="300" alt="평점 이미지">
  

                      </div>
                      <div
                        data-testid="popup-element"
                        class="sc-lhVmlH fKhHmr"
                      ></div>
                    </div>
                    <div class="sc-hgHYgh kDkgVT">
                      <div class="sc-einJlc hkaFNj">
                        <div class="sc-likbZx ixFzSN">홍길동</div>
                      </div>
                      <div class="sc-bGJRg hQqotf">포인트 원 </div>
                      <div class="sc-bGJRg hQqotf">
                        <button class="sc-kasBVs blcYdX">충전하기</button>
                        </div>
                      <div class="sc-bGJRg hQqotf1">거래횟수
                        <div class="sc-lBEsjs dQLwrX">
                          <img src="/static/star.png" width="20" height="20" alt="평점 이미지">
                          <img src="/static/star.png" width="20" height="20" alt="평점 이미지">
                          <img src="/static/star.png" width="20" height="20" alt="평점 이미지">
                          <img src="/static/star.png" width="20" height="20" alt="평점 이미지">
                          <img src="/static/star.png" width="20" height="20" alt="평점 이미지">
                        </div>
                      </div>
                      <div class="sc-bGJRg hQqotf">
                        <button class="sc-kasBVs blcYdX1">회원정보수정</button>
                        </div>
                    </div>
                   </div>
                   </div>
                      <div class="sc-fvLVrH dUcFyG">
                        <div class="sc-kqlzXE kdQTYb">
                          <div class="sc-gpHHfC dvLjiM">
                            <a class="sc-gVyKpa gmerZt" href="/info/history">
                              판매/구매 내역
                            </a>
                            <a class="sc-gVyKpa gmerZt" href="/info/productM">
                              상품관리
                            </a>
                            <a class="sc-gVyKpa gmerZt" href="/info/comment">
                              후기
                            </a>
                          </div>
                          
                        </div>
                      </div>

                        
                        <div data-testid="popup-element" class="sc-lhVmlH fKhHmr"></div>
                      </div>
            </div>
            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
