
<form method="post" action="/info/register">
    <input type="text" name="info_id"><br>
    <input type="text" name="info_pw"><br>
    <input type="text" name="info_name"><br>
    <input type="text" name="info_region"><br>
    <input type="text" name="info_img"><br>
    <input type="text" name="info_phone"><br>
    <input type="text" name="info_admin"><br>
    <input type="text" name="info_point"><br>
    <input type="submit" value="저장"><br>
</form>

