<% starList.forEach(star=>{ %>
    id: 
    <a href="/info/star_view/<%= star.RATING_ID %>">
    <%= star.RATING_ID %></a><br />

    count: <%= star.RATING_COUNT %><br />
    grade: <%= star.RATING_GRADE %><hr />
    <% }) %>

<a href="/info/star_form">star등록</a>