<form method="post" action="/info/star">
    <input type="text" name="rating_id"><br>
    <input type="text" name="rating_count"><br>
    <input type="text" name="rating_grade"><br>
    <input type="submit" value="star저장"><br>
</form>