<form action="/info/write" method="post">
    <input type="text" name="title" placeholder="input title" /><br />
    <input type="submit" value="등록" />
    <a href="/info/productM">목록이동</a>
  </form>
  